@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background: #fafafa;
  color: #262626;
  font-family: sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background: #cfcfcf;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
  background: #999;
}